name: Publish 

on: 
  push:
    branches:
      - 'master'

jobs:         
  publish:

    runs-on: ubuntu-latest
    
    steps: 
      - uses: actions/checkout@master
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Permission for gradlew
        run: chmod +x gradlew
      - name: Install
        run: ./gradlew install
      - name: Build
        run: ./gradlew :xyo-android-library:assembleRelease
      - name: Bintray Publish 
        env: 
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
        run: ./gradlew :xyo-android-library:bintrayUpload